<?xml version="1.0" encoding="utf-8"?><!--   ~ Copyright (c) 2017. scrapdoodle, LLC.  All Rights Reserved -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.flube.driver"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails
        <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        <uses-permission android:name="android.permission.READ_PROFILE" />
        <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->

    <application
        tools:replace="label"
        android:label="${appLabel}"
        android:largeHeap="true"
        android:name=".applicationLayer.DriverApplication"
        android:allowBackup="true"
        android:icon="${appIconSquare}"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".userInterfaceLayer.activities.splashScreen.SplashScreenActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <!-- android:theme="@style/AppTheme.Fullscreen"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".userInterfaceLayer.activities.signIn.SignInActivity"
            android:launchMode="singleTask"
            android:noHistory="true"/>

        <activity android:name=".userInterfaceLayer.activities.signIn.SignInAuthUiLaunchActivity"
            android:launchMode="singleTask" />

        <activity android:name=".userInterfaceLayer.activities.home.HomeActivity" />

        <activity android:name=".userInterfaceLayer.activities.messages.MessagesActivity"  />
        <activity android:name=".userInterfaceLayer.activities.offers.publicOffers.PublicOffersActivity"  />
        <activity android:name=".userInterfaceLayer.activities.offers.personalOffers.PersonalOffersActivity"  />

        <activity android:name=".userInterfaceLayer.activities.offers.demoOffers.DemoOffersActivity"  />
        <activity android:name=".userInterfaceLayer.activities.offers.demoOffers.demoOfferMake.DemoOffersMakeActivity" android:launchMode="singleTask" />

        <activity android:name=".userInterfaceLayer.activities.scheduledBatches.scheduledBatchList.ScheduledBatchesActivity"  />

        <activity android:name=".userInterfaceLayer.activities.account.AccountActivity" android:launchMode="singleTask" />
        <activity android:name=".userInterfaceLayer.activities.earnings.productionEarnings.EarningsActivity" android:launchMode="singleTask" />
        <activity android:name=".userInterfaceLayer.activities.help.HelpActivity" android:launchMode="singleTask" />


        <activity android:name=".userInterfaceLayer.activities.offers.claimOffer.OfferClaimActivity" android:noHistory="true" />
        <activity android:name=".userInterfaceLayer.activities.scheduledBatches.manageBatch.BatchManageActivity" android:noHistory="true" />
        <!-- noHistory is TRUE because we want the activity to be finished when it is no longer visible on the screen.  Works around a mapbox memory crash -->

        <!-- NAVIGATION ACTIVITY -->
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.navigationStep.NavigationActivity" android:noHistory = "true"  />
        <!-- noHistory is TRUE because we want the activity to be finished when it is no longer visible on the screen.  Works around a mapbox memory crash -->

        <!-- PHOTO ACTIVITIES ACTIVITIES -->
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.photoStep.photoList.PhotoActivity" android:launchMode="singleTask" />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.photoStep.photoDetail.PhotoDetailActivity" android:launchMode="singleTask" />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.photoStep.photoTake.PhotoTakeActivity" android:launchMode="singleTask" />

        <!-- RECEIVE ASSET ACTIVITIES -->
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.receiveAssetStep.ReceiveAssetActivity"  />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.receiveAssetStep.getSignature.ReceiveAssetGetSignatureActivity"  />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.receiveAssetStep.itemList.ReceiveAssetItemListActivity"  />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.receiveAssetStep.itemDetail.ReceiveAssetItemActivity"  />

        <!-- GIVE ASSET ACTIVITIES -->
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.giveAssetStep.GiveAssetActivity"  />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.giveAssetStep.itemDetail.GiveAssetItemActivity"  />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.giveAssetStep.getSignature.GiveAssetGetSignatureActivity"  />


        <!-- USER TRIGGER ACTIVITIES -->
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.userTriggerStep.UserTriggerActivity" android:launchMode="singleTask" />

        <!-- AUTHORIZE PAYMENT ACTIVITIES -->
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.authorizePaymentStep.AuthorizePaymentActivity" android:launchMode="singleTask" />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.authorizePaymentStep.receiptDetail.ReceiptDetailActivity" android:launchMode="singleTask" />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderSteps.authorizePaymentStep.receiptPhotoTake.ReceiptPhotoTakeActivity" android:launchMode="singleTask" />

        <!-- WAITING TO FINISH BATCH ACTIVITIES -->
        <activity android:name=".userInterfaceLayer.activities.activeBatch.waitingToFinishBatch.WaitingToFinishBatchActivity"  />

        <!-- BATCH & ORDER ITINERARY ACTIVITIES -->
        <activity android:name=".userInterfaceLayer.activities.activeBatch.batchItinerary.BatchItineraryActivity" android:launchMode="singleTask" />
        <activity android:name=".userInterfaceLayer.activities.activeBatch.orderItinerary.OrderItineraryActivity" android:launchMode="singleTask" />

        <!-- TEST EARNINGS & TEST OFFERS ACTIVITIES -->
        <activity android:name=".userInterfaceLayer.activities.earnings.testEarnings.TestEarningsActivity" android:launchMode="singleTask" />
        <activity android:name=".userInterfaceLayer.activities.offers.testOffers.TestOffersMakeActivity" android:launchMode="singleTask" />

        <service
            android:name=".deviceLayer.deviceServices.activeBatchForegroundService.ActiveBatchForegroundService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="446b6885663a7a64836334f6e17af7a0b5d6d7c9" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr, label" />
    </application>

</manifest>